.container{
    margin: 20px;
}

.container button{
    background-color: #2196F3;
    color: white;
    border: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.container button:hover{
    background-color: #44a8fa;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead{
    background-color: gray;
    color: white;
}

th{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}