.container{
    margin: 20px;
}

.container button{
    background-color: #2196F3;
    color: white;
    border: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.container button:hover{
    background-color: #44a8fa;
}

.leadTable{
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.leadThead{
    background-color: gray;
    color: white;
    height: 40px;
}

th{
    border: 2px solid black;
}

.trLead{
    height: 40px;
}

td{
    border: 2px solid black;
}

.tdLead{
    width: 33%;
}

.trLead:nth-child(even) {
    background: #CCC
}

.trLead:nth-child(odd) {
    background: #FFF
}