.container{
    margin: 20px;
}

.container button{
    background-color: #2196F3;
    color: white;
    border: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.container button:hover{
    background-color: #44a8fa;
}

.btnCreateLead span{
    font-weight: bolder;
}

.leadTable{
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.leadThead{
    background-color: gray;
    color: white;
    height: 40px;
}

th{
    border: 2px solid black;
}

.trLead{
    height: 40px;
}

td{
    border: 2px solid black;
}

.tdLead{
    width: 33%;
}

.trLead:nth-child(even) {
    background: #CCC
}

.trLead:nth-child(odd) {
    background: #FFF
}

.tableBtn .remove{
    color: white;
    margin-top: 20px;
    padding: 0 5px 0 5px;
    background-color: rgb(255, 116, 106);
    border-radius: 100%;
}

.tableBtn .remove:hover{
    background-color: rgb(255, 71, 58);;
}

.tableBtn .details{
    color: black;
    font-size: 30px;
}

.containerModal{
    display: flex;
    justify-content: space-around;
}

.modal{
    width: 300px;
    height: 270px;
    background-color: white;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
    border: black 2px solid;
    border-radius: 2%;
}

.closeBtn{
    width: 20px;
    height: 20px;
    padding: 0;
    border: hidden;
    color: #2196F3;
    font-size: 20px;
    margin-right: 5px;
}

.modal .closeBtn:hover{
font-size: 22px;
background-color: unset;
}

.modal .content{
    height: 280px;
}

.modal h1{
    margin: 8px 0 0 100px;
}

.modal p{
    margin: 5px;
    font-size: 15px;
}

.modal ul{
    margin-top: 4px;
}

.modal.leadDelete{
    height: 330px;
}

.modal.leadDelete .btnContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}
.modal.leadDelete .btnContainer button{
    width: 140px;
    margin: auto;
    font-size: 16px;
}

.modal.leadDelete .btnContainer .delete{
    color: white;
    background-color: rgb(255, 71, 58);
}

.modal.leadDelete .btnContainer .delete:hover{
    background-color: rgb(253, 24, 8);
}