.formLeadCreate{
    display: flex;
    justify-content: space-around;
}

.checkboxTable{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    width: 300px;
    height: 150px;
}

.leadCreateThead{
    background-color: gray;
    color: white;
}

.trLeadCreate:nth-child(even) {
    background: #CCC
}

.trLeadCreate:nth-child(odd) {
    background: #FFF
}

.labelLeadCreate{
    margin: 0 40px 0 40px ;
}

.inputLeadCreate{
    margin: 0;
    width: 40px;
}

#btnCancel{
    width: 100px;
    margin-right: 20px;
    background-color: lightcoral;
}

#btnCancel:hover{
    background-color: rgb(238, 103, 103);
}

.btnSaveLead{
    width: 180px;
}

.error.leadCreate{
    margin: auto;
    width: 200px;
    text-align: center;
    font-weight: 500;

}
.modal.leadCreated{
    width: 435px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
    border: black 2px solid;
    border-radius: 2%;
}

.modal.leadCreated .closeBtn{
    width: 20px;
    height: 20px;
    padding: 0;
    border: hidden;
    color: #2196F3;
    font-size: 20px;
    margin: 0 5px 0 5px
}

.modal .closeBtn:hover{
font-size: 22px;
background-color: unset;
}

.modal.leadCreated h1{
    margin: 30px 0 0 25px;
}