.formLeadCreate{
    display: flex;
    justify-content: space-around;
}

.checkboxTable{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    width: 300px;
    height: 150px;
}

.leadCreateThead{
    background-color: gray;
    color: white;
}

.trLeadCreate:nth-child(even) {
    background: #CCC
}

.trLeadCreate:nth-child(odd) {
    background: #FFF
}

.labelLeadCreate{
    margin: 0 40px 0 40px ;
}

.inputLeadCreate{
    margin: 0;
    width: 40px;
}

#btnCancel{
    width: 100px;
    margin-right: 20px;
    background-color: lightcoral;
}

#btnCancel:hover{
    background-color: rgb(238, 103, 103);
}

.btnSaveLead{
    width: 180px;
}

.error.leadCreate{
    margin: auto;
    width: 200px;
    text-align: center;
    font-weight: 500;

}